.title{
    text-align: center;
    margin:20px 0 30px 0 ;
}
.form{
    width:800px;
    max-width:90%;
    margin:auto;
    display:flex;
    flex-direction:column;
}
.buttonSpace{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 20px;
}