html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  --danger:rgb(255, 45, 45);
  --success:rgb(102, 255, 0);
}
@font-face {
  font-family: roboto-light;
  src: url(/public/font/Roboto-Light.ttf);
}