.container {
	min-height: 1000px;
	padding: 30px;
	padding-bottom: 100px;
	background: rgb(0, 168, 255);
	background: linear-gradient(
		180deg,
		rgba(0, 168, 255, 1) 0%,
		rgba(226, 0, 255, 1) 43%,
		rgba(255, 0, 117, 1) 99%
	);
}

.header {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
}
.headername {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 5px white;
}
.select {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-around;
}

.optionItem {
	margin: 20px;
	border-radius: 30px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	transition: all 0.5s;
	box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0);
}
.optionItem:hover {
	transition: all 0.5s;
	box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.3);
}
.optionImage {
	width: 500px;
	height: 500px;
	object-fit: cover;
	transition: all 0.5s;
	transform: scale(1);
}
.optionImage:hover {
	transition: all 0.5s;
	transform: scale(1.4);
}
.optionTitle {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.575);
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.space {
	margin-top: 50px;
}
.spaceTitle {
	color: white;
}
.spaceSubTitle {
	color: white;
}
.timelineContainer {
	display: column;
	align-items: center;
}

.timeline {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.timeMid {
	margin: 0 50px;
	width: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
.timelineItem{
  width:50%;
}
.left{
  left:0;
}
.right{
  left:50%;
}