.title{
    text-align: center;
    margin:20px;
}
.list{
    margin:10px;
    padding:10px;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
}
.editSpace{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}


.group{
    margin-top: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.groupName{
    background-color: #eee;
    padding:10px;
    font-weight: bold;
}

.groupList{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:10px;
}
.groupItem{
    display:flex;
    flex-direction:row;
    border:1px solid #ccc;
    box-shadow:3px 3px 10px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:5px;
    overflow:hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.itemS1>img{
    width:100px;
    height:100px;
    border-radius: 3px;
}
.itemS2{
    margin-left: 5px;
    display:flex;
    flex-direction:column;

}
.itemS2>*{
    background-color:#eee;
    margin-bottom: 5px;
}


.emptyList{
    display:flex;
    flex-direction:row;
    padding:20px;
    justify-content:center;
    align-items:center;
}
