.navbar{
    display:block;
    flex-direction:row;
    font-size:1.2em;
    width:100%;
}
.navitem{
    padding: 5px 10px;
    color:gray;
}
.navitem:hover{
    color:black;
    text-decoration: none;
}

.userSpace{
    color:black;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:8px;
    border-radius: 3px;
}
.userSpace:hover{
    text-decoration: none;
    
}
.userSpace>img{
    width:30px;
    height:30px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
}



.mobile .navitem{
    padding:10px;
    border-bottom: 1px solid #ccc;

}
.mobile .navitem:last-child{
    border-bottom: none;
}
.mobile>div{
    width:100% !important;
    display:flex;
    flex-direction:column;
    align-items:unset;
}

.mobile .userSpace{
    display:flex;
    flex-direction:row;
    margin-top: 5px;

}
.mobile .userSpace>span{
    display:none;
}
.mobile .userSpace>img{
    margin: 0 10px 0 0;
}
.listNotification{
    overflow-y:scroll; 
    max-height:400px;
}
.listNotification>*{
    border-bottom: 1px solid #ccc;
}


.modalContent{
    max-height:100%;
}
.modalContent>div{
    min-height: 300px;
    max-height: 600px;
}

.messageBody{
    max-height: 70%;
    overflow-y:scroll;
}

.messageContainer{
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
}

.directionContainer{
    max-width: 70%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.content{
    display:flex;
    flex-direction:row;
}
.avatarSpace>img{
    margin-right: 10px;
    width:30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}

.messageAndName{
    display:flex;
    flex-direction:column;
    padding:8px;
    color:white;
    border-radius: 10px;
}
.messageOwner{
    font-weight:bold;
    font-size:0.9em;
}
.messageTime{
    font-size: 0.8em;
    font-style: italic;
}

.myMessage{
    justify-content:flex-end;
}
.myMessage .messageAndName{
    background-color:dodgerblue;
}
.myMessage .directionContainer{
    align-items: flex-end;
}

.othersMessage{
    justify-content:flex-start;
}
.othersMessage .messageAndName{
    background-color:darkcyan;
}